body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-image: url("rec.jpg");
    background-color: green;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.2px;
}